<nav>
  <a href="/" class="logo">LUMINX</a>

  <ul class="nav-links">
    <li><a href="#werk">Werk</a></li>
    <li><a href="#diensten">Diensten</a></li>
    <li><a href="#over">Over</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <a href="#contact" class="nav-cta">Start Project</a>
</nav>